@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

@layer base {
  body {
    @apply bg-surface text-text-primary font-sans antialiased;
  }
  
  html.dark body {
    @apply bg-surface text-text-primary;
  }
}

/* Forziamo un contenitore rigido per simulare lo smartphone sul desktop */
.app-container {
  @apply min-h-screen max-w-[420px] mx-auto bg-surface flex flex-col relative border-x border-surface-tertiary shadow-xl;
}